//colors
$dark: #263238;
html, body {
      // position: relative;
      // height: 100%;
      overflow-x: hidden;
    }
p{
  font-size: 18px !important;
}

.bg-dark{
  background-color: $dark !important;
}
header.navigation{
  max-width: 100vw;
}
.siteLogo{
  height: 80px;
  width: auto;
}

.navbar-brand{
  p{
    color: white;
  }
}
.footerLogo{
  height: 35px;
  width: auto;
}
#sec1{
  background: url(/images/sec1-bg.webp);
  // background-image: linear-gradient(to left, transparent, white);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 !important;
}
#sec2, #sec3{
  margin-top: 20px;
  text-align: center;
}
#sec3{
  padding: 0 !important;
  h3{
    &::after{
      content: "";
      height: 2px;
      background: green;
      width: 80%;
    }
  }
}
.sec-1-overlay{
  background-image: linear-gradient(to bottom left, transparent, transparent, transparent, transparent, white, white);
  margin: 0;
  padding-bottom:50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navigation{
  //background: rgba(white, .8) !important;
}
.navbar{
  justify-content: space-between;
  padding: 0 !important;
}
.navbar-nav{
  //background: rgba(black, .1);
  li{
  a{
    color: white;
  }
}
}
.navbar-brand{
  h1{
    color: white;
    font-size: 2rem;
  }
}
.menuAndSocial{
  display: flex;
  flex-direction: row;
  // justify-content: flex-end;
  align-items: center;
}


.socialLinks{
  margin-left: 10px;
  margin-right: 10px;
  a{
    color: rgba($color: white, $alpha: .5);
  }
}
// .navbar-toggler{
//   order: 2;
// }
// .socialLinks{
//   order: 0;
// }

// @media screen and (max-width: 640px){
//   .swiper-slide{
//     width: 100% !important;
//   }
// }
@media screen and (max-width: 768px){
  #sec3{
    transform: translateY(-35px) !important;
    }
  .siteLogo{
    height: 40px;
  }
  // .socialLinks{
  //   order: 0;
  // }
  // .navbar-toggler{
  //   order: 2;
  // }
  .menuAndSocial{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
@media screen and (max-width: 640px){
  #sec3{
    transform: translateY(-44px) !important;
    }
  .navbar{
    display: flex;
    flex-direction: column;
  }
  .navbar-brand{
    h1{
      color: white;
      font-size: 1.5rem;
    }
    .menuAndSocial{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
.swiper-container{
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    
   height: 100vh;
    /* Center slide text vertically */
    
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    .card{
     background:rgba(black, .5);
    }
    .card-title a{
      color: white;
      font-weight: bold;
      font-size: 24px;
      line-height: .8 !important;
    }
    .card-text{
      color: white;
      display: none;
    }
  }
}
  img[alt="People of Japan"]{
    height: 60px !important;
width: auto;
margin: 10px 30px 10px 10px !important;

  }
  img[alt="BEDS"],img[alt="J.E.E.F"]{
    width:auto;
    height:45px !important;
    margin: 10px;
  }
}
 /*--carousel--*/

 .swiper-container {
       width: 100%;
       height: 450px;
       margin-top: 90px;
       
       background-color: #ededed;
       .swiper-slide {
        text-align: center;
        font-size: 18px;
        //padding: 20px;
       height: 100%;
        /* Center slide text vertically */
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .card{
         background:transparent;
         border: none;
        }
        .card-body{
          background: transparent;
          border: none;
        }
        .card-title a{
          color: $dark;
          font-weight: bold;
        }
        .card-text{
          color: $dark;
        }
      }
     }

     
    

    
    .swiper-container-2 {

      width: 100%;
      height: 350px;
      .card{
        height: 350px;
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
  
        /* Center slide text vertically */
        
        display: flex;
       
        justify-content: center;
       
        align-items: center;
      }
      .swiper-button-next, .swiper-button-prev{
        display: none;
      }
    }

    

.call-to-order{
  color: #5ab51e!important;
}
.beta-notice{
  background: green;
  color: white;
  text-align: center;
}
.footer-logos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: max-content;
text-align: center;
background: rgba(255, 255, 255, .85);
border-radius: 4px;
align-self: center;
}
.acknowledgement{
  display: flex;
    flex-direction: row;
    //border-top: 1px solid #dee2e6!important;
    .col-md-12{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}

#bacToTop{
  display: none;
  border-radius: 50%;
  padding: 11px 0;
  background: rgba(green, .7);
  color: white;
  position: fixed;
  bottom: 30px;
  right: 30px;
  float: right;
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 30px;
  z-index: 999;
  &:hover{
    background: green;
    color: white;
  }
}
.sec1DownBtn{
  border-radius: 50%;
  padding: 10px;
  background: rgba(green, .7);
  color: white;
  position: absolute;
top: 90vh;
  left: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  &:hover{
    background: green;
    color: white;
  }
}
html {
  scroll-behavior: smooth;
}
.hitCounter{
  svg{
    width: 120px;
    height: 100px !important;
  }
  rect{
    stroke: none !important;
    fill: white !important;
  }
  text{
    font-size: 16px;
    fill: white !important;
    &[y="38"]{
      transform: translateY(10px);
    }
    &[y="50"]{
      transform: translateY(20px);
    }
    &[y="62"]{
      transform: translateY(30px);
    }
  }
}
.btn{
  border-radius: 4px !important;
}
.btn-primary{
  background:teal !important;
  border-color: teal !important;
  &:hover{
    background-color: teal+50 !important;
  }
}

footer{
  background: #263238;
  padding-top: 20px !important;
  color: white !important;
  a{
    color: white !important;
  }
  h1, h2, h3, h5, h6{
    color: white;
  }
}
#sec3{
transform: translateY(-27px);
}

.single{
  transform: translateY(70px);
}